:root {
    /* For themes */
    /* https://coolors.co/palette/403f4c-2c2b3c-1b2432-121420 */
    --primary: #121420;
    --secondary: #1B2432;
    --extra1: #2C2B3C;
    --extra2: #403F4C;

    --text-color: #FFFAFA;
}

body {
    margin: 0;
    background-color: var(--primary);
}

* {
    color: var(--text-color);
}