@media (prefers-color-scheme:dark) {
    :root {
        /* For themes */
        /* https://coolors.co/palette/403f4c-2c2b3c-1b2432-121420 */
        --primary: #121420;
        --secondary: #2C2B3C;
        --contrast: #FFFAFA;
    }  
}

@media (prefers-color-scheme:light) {
    :root {
        --primary: #FFFFFF;
        --secondary: #D3D3D3;
        --contrast: #000000;        
    }
}

html {
    transition: all 250ms;
    background-color: var(--primary);
}

body {
    margin: 0;
}

* {
    /* transition: all 250ms; */
    color: var(--contrast);
}