:root {
    /* For themes */
    /* https://coolors.co/palette/403f4c-2c2b3c-1b2432-121420 */
    --primary: #121420;
    --secondary: #2C2B3C;
    --contrast: #FFFAFA;
    
    /* --extra1: #1B2432;
    --extra2: #403F4C; */
}

html {
    background-color: var(--primary);
}

body {
    margin: 0;
}

* {
    color: var(--contrast);
}