<section class="todo">
    <div class="reordering">
        <ion-icon name="arrow-up-circle-outline" (click)="moveTodo(1)"/>
        <ion-icon name="arrow-down-circle-outline" (click)="moveTodo(-1)"/>
    </div>

    <ion-icon 
        class="complete"
        [name]="checkmarkHovered ?
            'checkmark-done-circle-outline' :
            'checkmark-circle-outline'"
        (mouseout)="checkmarkHovered = false"
        (mouseover)="checkmarkHovered = true"
        (click)="removeTodo()"
    />
    
    <form class="title">
        <input 
            id="title" name="title" type="text"
            [(ngModel)]="todo.title" required
        >
    </form>
    
    <span class="creation-date">
        Created {{
            todo.created.toLocaleString('en-CA', { 
                dateStyle: 'medium', 
                timeStyle: 'short', 
                hourCycle: 'h24', 
            })
        }}
        <!-- later prob maybe 12/24h an option-->
    </span>
</section>