<section class="todo">
    <form [formGroup]="todoTitle">
        <input 
            id="title" type="text" formControlName="title" required
            [(ngModel)]="todo.title" name="title"
        >
    </form>
    <button (click)="removeTodo()">Remove</button>
    <button (click)="moveTodo(1)">Up</button>
    <button (click)="moveTodo(-1)">Down</button>
    <span class="creation-date">
        Created {{
            todo.created.toLocaleString('en-CA', { 
                dateStyle: 'medium', 
                timeStyle: 'short', 
                hourCycle: 'h24', 
            })
        }}
        <!-- later prob maybe 12/24h an option-->
    </span>
</section>