section.todo {
    background-color: var(--secondary);

    border-radius: 10px;

    padding: 5px;
    margin-top: 3px;

    text-align: left;

    display: flex;
}



div.reordering {
    width: 24px;
    height: 100%;

    margin-right: 5px;
}

div.reordering > ion-icon {
    display: block;
    font-size: 24px;
    color: var(--primary);
}



button {
    background-color: var(--secondary);
    border-color: var(--primary);
    border-radius: 5px;
}

input {
    border: none;
    background: linear-gradient(180deg, var(--secondary) 95%, var(--primary) 5%);
    margin-bottom: 3px;
}

.todo-title {
    margin: 4px;
    font-size: 18px;
}

.todo span.creation-date {
    font-size: 14px;
    float: right;
    font-weight: lighter;
}