<div class="header">
    <div class="theme">
        <ion-icon name="moon-outline"/>
        <!-- <ion-icon name="sunny-outline"/> -->
        <!-- on hover, fill -->
    </div>
    <div class="sort">
        Sort by
        <ion-icon 
            name="list-outline" title="Sort by position"
        />
        <ion-icon 
            name="time-outline" title="Sort by time created"
        />
    </div>
    <div class="settings">
        <ion-icon name="settings-outline"/>
    </div>
</div>

<app-todo-list>