<div class="header">
    <div class="theme" (click)="changeTheme()">
        <ion-icon
            [name]="themes[currentTheme].icon + themes.hovered"
            (mouseout)="themes.hovered = '-outline'"
            (mouseover)="themes.hovered = ''"
        />
    </div>
    <form class="sort">
        Sort by
        <label for="position">
            <ion-icon 
                [name]="(todoService.sortingMethod === 'position') ? 'list' : 'list-outline'"
                title="Sort by position"
            />
        </label>
        <input 
            type="radio" name="sort" id="position" value="position"
            [(ngModel)]="todoService.sortingMethod"
        >

        <label for="created">
            <ion-icon 
                [name]="(todoService.sortingMethod === 'created') ? 'time' : 'time-outline'"
                title="Sort by time created"
            />
        </label>
        <input
            type="radio" name="sort" id="created" value="created"
            [(ngModel)]="todoService.sortingMethod"
        >        
    </form>
    <div class="settings">
        <ion-icon name="settings-outline"/>
        <div class="settings-box">
            <form>
                <label for="confirmRemovals">
                    Confirm completion of todos?
                </label>
                <input 
                id="confirmRemovals" type="checkbox"
                [(ngModel)]="settings.confirmRemovals"
                />
                
                <label for="timeFormat">
                    How to format time?
                </label>
                <select id="timeFormat">
                    <option [(ngModel)]="settings.timeFormat" value="24h">
                        24h
                    </option>
                    <option [(ngModel)]="settings.timeFormat" value="12h">
                        12h
                    </option>
                </select>
            </form>
        </div>
    </div>
</div>

<app-todo-list>