<div class="header">
    <div class="theme" (click)="changeTheme()">
        <ion-icon [name]="currentTheme ? 'sunny-outline' : 'moon-outline'"/>
        <!-- on hover, fill -->
    </div>
    <form class="sort">
        Sort by
        <label for="position">
            <ion-icon 
                name="list-outline" title="Sort by position"
            />
        </label>
        <input 
            type="radio" name="sort" id="position" value="position"
            [(ngModel)]="todoService.sortingMethod"
        >

        <label for="created">
            <ion-icon 
                name="time-outline" title="Sort by time created"
            />
        </label>
        <input
            type="radio" name="sort" id="created" value="created"
            [(ngModel)]="todoService.sortingMethod"
        >        
    </form>
    <div class="settings">
        <ion-icon name="settings-outline"/>
    </div>
</div>

<app-todo-list>